.s1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/computer-large.jpg);
  background-size: cover;
  background-position: top;

  display: grid;
  grid-template-rows: min-content 1fr 1fr;
  row-gap: 2rem;

  &__nav {
    background-color: var(--color-primary);
    width: 100%;
    border-radius: 0 0 0.2rem 0;

    grid-row: 1 / 2;
  }

  &__list {
    list-style: none;
    width: 100%;
    padding: 2rem;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  &__items {
    position: relative;
    transition: 0.3s;

    &:not(:last-child) {
      margin-right: 2.5rem;
    }

    &:hover {
      transform: translateY(-1px);
    }

    &::after {
      content: "";
      width: 100%;
      height: 1.5px;
      background-color: var(--color-text-dark);
      position: absolute;
      display: block;
      transform: scaleX(0);
      transform-origin: center;
      transition: 0.4s cubic-bezier(1, 0.02, 0.21, 0.76);
    }

    &:hover::after {
      transform: scaleX(1);
    }
  }

  &__links {
    text-decoration: none;
    color: var(--color-text-dark);
    font-size: 2rem;
  }

  &__presentation {
    grid-row: 2 / 3;
    justify-self: center;

    width: 55%;

    @media only screen and (min-width: 87.5em) {
      align-self: end;
    }
  }

  &__heading-primary {
    color: var(--color-primary);
  }

  &__heading-primary::after {
    content: "|";
    height: 100%;
    animation: hide 0.9s infinite;
  }

  &__heading-tertiary {
    margin-top: 3rem;
    color: var(--color-primary-dark);
  }

  &__heading-tertiary::after {
    content: "";
    width: 4rem;
    height: 0.7rem;
    border-radius: 10px;
    background-color: var(--color-primary);
    position: absolute;
    top: -2rem;
    left: 50%;
    transform: translateX(-50%);
  }

  &__scroll-sign {
    justify-self: center;
    align-self: end;
  }

  &__scroll-sign span {
    display: block;
    height: 50px;
    width: 30px;
    border: 2px solid var(--color-primary);
    border-radius: 13px;
    margin-bottom: 2rem;
    position: relative;

    &::after {
      content: "";
      height: 25px;
      width: 20px;
      background-color: var(--color-primary);
      border-radius: 50%;
      position: absolute;
      top: 3px;
      left: 3.3px;
      animation: 1.5s cubic-bezier(0.76, 0.1, 0.38, 0.72) infinite scroll;
    }
  }
}
