:root {
  --color-primary: #f4f4f6;
  --color-primary-dark: #d6d1d1;
  --color-secondary: #4477ee;
  --color-text-dark: #1a1919;
  --color-dark-transparent: #1a1919;
  --color-border: #24db73;
  --color-validation: #ef3434;
} 
